html,body {
    height: 100%;
}

.ground {
    width: 100%;
    height: 100%;
    background: linear-gradient(89deg,rgba(17,80,71,1) 0%,rgba(32,129,115,1) 100%);
}

.message {
    width: 100%;
    padding-top: 2.44rem;
}

.message .message-img {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 auto;
    border-radius: 50%;
}

.message .message-img img {
    width: 1.2rem;
    height: 1.2rem;
}

.message .message-name {
    padding-top: 0.08rem;
    font-weight: 600;
    font-size: 0.32rem;
    line-height: 0.42rem;
    color: rgba(255,255,255,1);
    text-align: center;
}

.users {
    padding: 1.34rem 1.04rem 0 0.86rem;
}

.username {
    font-size: 0.32rem;
    font-weight:normal;
    line-height: 0.42rem;
    color: rgba(255,255,255,1);
}

.inputName {
    width: 100%;
    height: 0.56rem;
    margin-top: 0.14rem;
    background: rgba(0,0,0,0);
    border: 0;
    border-bottom: 0.04rem solid rgba(255,255,255,1);
    font-size: 0.24rem;
    color: rgba(255,255,255,1);
}

.password {
    padding-top: 0.48rem;
}

.signIn {
    padding-top: 0.94rem;
    width: 100%;
}

.signIn button {
    width: 100%;
    height: 0.8rem;
    background: rgba(2,109,230,1);
    border-radius: 0.16rem;
    border: 0;
    font-size: 0.32rem;
    color: rgba(255,255,255,1);
}

.change {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    bottom: 0.14rem;
    right: -0.4rem;
    display: none;
}