<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marsfood.dao.wxapp.UserMapper">

    <sql id="wu_all_columns">
        wu.ID wu_ID,
        wu.AppId wu_AppId,
        wu.OpenId wu_OpenId,
        wu.UnionId wu_UnionId,
        wu.NickName wu_NickName,
        wu.Portrait wu_Portrait,
        wu.Mobile wu_Mobile,
        wu.Integral wu_Integral,
        wu.GmtCreated wu_GmtCreated,
        wu.GmtModified wu_GmtModified
    </sql>

    <sql id="all_columns">
        `ID`,
        `AppId`,
        `OpenId`,
        `UnionId`,
        `NickName`,
        `Portrait`,
        `Integral`,
        `Mobile`,
        `GmtCreated`,
        `GmtModified`
    </sql>


    <select id="selectUserList" resultType="CountUserRegisteDo">
        SELECT
           `GmtCreated` AS registeDate,
            COUNT(*) AS countuser
        FROM
          `wxapp_user`
        WHERE
            DATEDIFF( `GmtCreated` , NOW( ) ) &lt; 0
        AND
            DATEDIFF( `GmtCreated` , NOW( ) ) &gt; -8
        GROUP BY
          date_format(`GmtCreated`,'%Y%m%d')
    </select>

    <select id="selectUserCount" resultType="Integer">
         SELECT
               COUNT(*)
         FROM
              `wxapp_user`
    </select>

</mapper>